<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos personas</title>
        <meta charset="UTF-8">
    </head>
    <body>
       <h1>Datos personas</h1>
       <a th:href="@{/}">regresar</a>
       <br/>
       <form th:action="@{/guardar}" method="post" th:object="${persona}">
           <label for="nombre">Nombre:</label>
           <input type="text" name="nombre" th:field="*{nombre}">

           <label for="nombre">apellid:</label>
           <input type="text" name="apellido" th:field="*{apellido}">

           <label for="nombre">telefono:</label>
           <input type="text" name="telefono" th:field="*{telefono}">

           <label for="nombre">email:</label>
           <input type="text" name="email" th:field="*{email}">
       </form>
    </body>
</html>